/* 通用样式 */
body {
    font-family: Arial, sans-serif;
    /* 设置字体 */
    font-size: 16px;
    /* 设置字体大小 */
    line-height: 1.5;
    /* 设置行高 */
    margin: 0;
    /* 设置外边距 */
    padding: 0;
    /* 设置内边距 */

}

.passwordsTable {
    border: 1px solid black;
}

#passwords-container {
    display: flex;
    justify-content: center;
}

#passwords-container table {
    border-collapse: collapse;
    margin-top: 20px;
}

#passwords-container td {
    border: 1px solid black;
    padding: 5px;
}

span {
    display: inline-flex;
    align-items: center;
}

h1.title {
    font-size: 36px;
    /* 设置标题字体大小 */
    font-weight: bold;
    /* 设置标题字体加粗 */
    text-align: center;
    /* 设置标题居中 */
}

table {
    border-collapse: collapse;
    /* 设置表格边框合并 */
    margin: 20px auto;
    /* 设置表格外边距和居中 */
    width: 50%;
    /* 设置表格宽度 */
}

td {
    border: 1px solid #ccc;
    /* 设置单元格边框 */
    padding: 10px;
    /* 设置单元格内边距 */
}

label {
    margin-left: 5px;
    /* 设置标签左外边距 */
}

input[type="text"] {
    margin-top: 5px;
    /* 设置文本框上外边距 */
    padding: 5px;
    /* 设置文本框内边距 */
    width: 100px;
    /* 设置文本框宽度 */
    display: inline-block;

}

select {
    margin-top: 10px;
    /* 设置下拉框上外边距 */
    padding: 10px;
    /* 设置下拉框内边距 */
    width: 70px;
    /* 设置下拉框宽度 */
    font-size: 18px;
    /*设置字号大小为 14px */
}

button {
    display: block;
    background-color: #2568e3;
    /* 设置按钮背景颜色 */
    border: none;
    /* 设置按钮无边框 */
    color: white;
    /* 设置按钮字体颜色 */
    padding: 10px 20px;
    /* 设置按钮内边距 */
    text-align: center;
    /* 设置按钮居中 */
    text-decoration: none;
    /* 设置按钮无下划线 */
    font-size: 16px;
    /* 设置按钮字体大小 */
    font-weight: bold;
    /* add this line to make the font bold */
    margin: 0 auto;
    /* 设置按钮外边距和居中 */
    cursor: pointer;
    /* 设置鼠标悬停样式 */
}

/* 特定样式 */
#custom-special {
    display: none;
    /* 默认隐藏 */
}

#custom-exclude {
    display: none;
    /* 默认隐藏 */
}

#special:checked~#custom-special {
    display: inline-block;
    /* 当选中时显示 */
    margin-left: 10px;
    /* 添加左边距 */
}

#special:checked~#custom-special[type="text"]::placeholder,
#exclude:checked~#custom-exclude[type="text"]::placeholder {
    color: #999;
    /* 设置默认值 */
}

#exclude:checked~#custom-exclude {
    display: inline-block;
    /* 当选中时显示 */
    margin-right: 10px;
    /* 添加右边距 */
}